header {
    cursor: default;
}

header h1 {
    color: #FFF;
    text-transform: uppercase;
    font-family: "Gnomon";
    font-size: 96pt;
    text-shadow: #F33A6A 12px 12px;
    text-align: center;
    margin: 12px;
    margin: 32px 48px;
    transition: font-size 0.2s, text-shadow 0.2s;
}

@media only screen and (max-width: 576px) {
    header h1 {
        font-size: 80pt;
        text-shadow: #F33A6A 10px 10px;
    }
}

@media only screen and (max-width: 512px) {
    header h1 {
        font-size: 64pt;
        text-shadow: #F33A6A 8px 8px;
    }
}

@media only screen and (max-width: 448px) {
    header h1 {
        font-size: 48pt;
        text-shadow: #F33A6A 6px 6px;
    }
}

@media only screen and (max-width: 384px) {
    header h1 {
        font-size: 32pt;
        text-shadow: #F33A6A 4px 4px;
    }
}