* {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-family: "Jost";
    font-weight: 700;
}

html body {
    background: #ffa2b0;
    margin: 0px;
    min-width: 256px;
    width: 100%;
}

h3, p {
    margin: 16px;
    cursor: default;
    word-break: break-word;
}

h3 {
    text-transform: uppercase;
    color: #F33A6A;
    font-size: 28pt;
    text-align: center;
    transition: font-size 0.2s;
}

p {
    color: #bf0c3a;
    font-size: 20pt;
    border: none;
    background: none;
    outline: none;
    padding: 0px;
    position: relative;
    text-indent: 64px;
    transition: font-size 0.2s;
}

main article {
    display: grid;
    opacity: 0;
    animation: expand 0.3s forwards, fade-in 0.2s 0.3s forwards;
}

main article .wrapper {
    overflow: hidden;
}

main article .wrapper section {
    padding: 36px;
}

main article .wrapper section div {
    margin-bottom: 72px;
}

main article .wrapper section div:last-child {
    margin-bottom: 0px;
}

#home-article .wrapper section:nth-child(1) div:nth-child(1) figure {
    transform: scale(0);
    animation: playgrounds-logo-pop 0.45s 0.2s forwards;
    background: #FFF;
    padding: 64px;
    border-radius: 32px;
    width: fit-content;
    margin: auto;
    max-width: 100%;
    box-sizing: border-box;
    transition: padding 0.2s;
}

#home-article .wrapper section:nth-child(1) div:nth-child(1) figure img {
    user-select: none;
    width: 100%;
    max-width: 512px;
    vertical-align: middle;
}

#home-article .wrapper section:nth-child(1) div:nth-child(3) figure {
    text-align: center;
}

#home-article .wrapper section:nth-child(1) div:nth-child(3) figure img {
    image-rendering: pixelated;
    height: 128px;
}

@media only screen and (max-width: 576px) {
    #home-article .wrapper section:nth-child(1) div:nth-child(1) figure {
        padding: 48px;
    }
}

@media only screen and (max-width: 512px) {
    #home-article .wrapper section:nth-child(1) div:nth-child(1) figure {
        padding: 36px;
    }
}

@media only screen and (max-width: 448px) {
    #home-article .wrapper section:nth-child(1) div:nth-child(1) figure {
        padding: 24px;
    }
}

@media only screen and (max-width: 284px) {
    #home-article .wrapper section:nth-child(1) div:nth-child(1) figure {
        padding: 16px;
    }
}

#about-article .wrapper section {
    position: relative;
}

#about-article .wrapper section:nth-child(1) {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#about-article .wrapper section:nth-child(1) > div:nth-child(1) {
    text-align: center;
}

#about-article .wrapper section:nth-child(1) figure {
    margin: 0px 48px;
}

#about-article .wrapper section:nth-child(1) figure img {
    max-width: 512px;
    width: 100%;
    border-radius: 32px;
    transform: translateX(calc(-100vw)) rotate(-90deg);
    animation: about-article-portrait-fly-in 0.5s 0.2s forwards;
}

@media only screen and (max-width: 1024px) {
    #about-article .wrapper section:nth-child(1) {
        display: block;
    }

    #about-article .wrapper section:nth-child(1) figure {
        margin: 0px;
    }
}

@media only screen and (max-width: 576px) {
    h3 {
        font-size: 24pt;
    }
    
    p {
        font-size: 16pt;
    }
}

@media only screen and (max-width: 448px) {
    h3 {
        font-size: 22pt;
    }
    
    p {
        font-size: 14pt;
    }
}